@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    /* Primary Colors*/
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    /* Neutral Colors */
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
}

body {
    background-color: var(--Cream);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Monserrat, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--Dark-grayish-blue);
}

.card {
    background-color: white;
    width: 600px;
    overflow: hidden;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
}

.product-image {
    width: 50%;
}

.information-container{
    padding: 15px 30px;
}

.category {
    letter-spacing: 4px;
    font-size: 15px;
}

.product, .actual-price {
    font-family: Fraunces, serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    color: var(--Very-dark-blue);
}

.product {
    margin-top: 10px;
}

.description {
    font-size: 1.24em;
    line-height: 25px;
    margin-bottom: 0;
}

.price-tag {
    display: flex;
    align-items: center;
}

.actual-price {
    color: var(--Dark-cyan);
    font-size: 33px;
    margin-right: 20px;
}

.initial-price {
    text-decoration: line-through;
}

button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border-width: 0;
    background-color: var(--Dark-cyan);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

button:hover {
    background-color: var(--Very-dark-blue);
}
.add-cart {
    margin-left: 10px;
    color: white;
    font-size: 18px;
}